---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Proyecto Supletorio: Instalación de Lámparas Fluorescentes">
  <Section id="tema" title="Tema">
    <p>INSTALACIÓN DE LÁMPARAS FLUORESCENTES</p>
  </Section>

  <Section id="objetivos" title="Objetivos">
    <h3>General</h3>
    <p>Instalar lámparas fluorescentes, así realizar instalación eficiente y adecuada así mejorar la calidad de la iluminación en el laboratorio, creando un ambiente más propicio para las actividades educativas y técnicas durante la jornada vespertina.</p>
    <h3>Específico</h3>
    <ul>
      <li>Seleccionar y adquirir lámparas fluorescentes adecuadas y eficientes para la instalación en el laboratorio 1.</li>
      <li>Implementar el proyecto de instalación de lámparas fluorescentes en el laboratorio 1.</li>
    </ul>
  </Section>

  <Section id="diagnostico" title="Diagnóstico">
    <p>El problema radica en la falta de iluminación adecuada en el laboratorio N°1 de la Unidad Educativa Primicias De La Cultura de Quito. Esta deficiencia lumínica afecta tanto a estudiantes como a profesores, dificultando la visualización y el desempeño en actividades académicas y prácticas...</p>
  </Section>

  <Section id="problema-solucion" title="Problema y Solución">
    <p>Para abordar la solución debemos entender que la iluminación escaza presenta una barrera para el aprendizaje de los estudiantes...</p>
  </Section>

  <Section id="procedimientos" title="Procedimientos">
    <p>Realización de un análisis detallado del estado actual de la iluminación en el laboratorio N°1. Esto incluye la evaluación de las áreas con deficiencias lumínicas y la identificación de las necesidades específicas de mejora...</p>
  </Section>

  <Section id="conclusiones" title="Conclusiones y Recomendaciones">
    <h3>Conclusiones</h3>
    <p>La instalación de lámparas fluorescentes en el laboratorio N°1 puede demostrar un impacto positivo significativo en el rendimiento académico de los estudiantes...</p>
    <h3>Recomendaciones</h3>
    <p>Es fundamental promover el uso eficiente de la energía entre los estudiantes, personal administrativo y docente...</p>
  </Section>

  <Footer />
</Layout>
