---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Footer from '../components/Footer.astro';
import Orden from '../components/Orden.astro';
---

<Layout title="Proyecto Supletorio: Instalación de Lámparas Fluorescentes">
	<h1>Instalación de <span class="text-gradient">Lámparas Fluorescentes</span></h1>
	<span class="decoration clip">Orden</span>
	<div class="grid">
		<Orden title='Dillan Toaquiza' body='Explicar los objetivos general y especificos de proyecto y Diagnostico' />
		<Orden title='Marck Román' body='Explicar la problematica y la solución y el procedimiento' />
		<Orden title='López Yandry' body='Resoluciones/Concluciones y Recomendaciones' />
	</div>
	<article>
		<div class="fondo">
			<h2>Datos De Las Lámparas</h2>
			<div class="grid-datea">
				<div>
					<h3 class="led">Lámpara Fluorescente</h>
					<h3 class="led">Lámpara LED</h>
					<h3 class="led">Lámpara Incandescente</h>
				</div>
				<div>
					<div class="line-en">
						<div class="porcen" style="width: 25%;">25%</div>
					</div>
					<div class="line-en">
						<div class="porcen" style="width: 50%;">50%</div>
					</div>
					<div class="line-en">
						<div class="porcen" style="width: 10%;">10%</div>
					</div>
				</div>
			</div>
		</div>
	</article>
	<section>
		<div>
			<h2 class="text-gradient">Objetivos:</h2>
			<h3 class="text-gradient">General</h3>
			<p>
				Instalar lámparas fluorescentes, así realizar instalación eficiente y adecuada así mejorar la calidad de la iluminación en el laboratorio, creando un ambiente más propicio para las actividades educativas y técnicas durante la jornada vespertina.
			</p>
			<h3 class="text-gradient">Especificos</h3>
			<p>
				1._ Seleccionar y adquirir lámparas fluorescentes adecuadas y eficientes para la instalación en el laboratorio 1
				
				2._ Implementar el proyecto de instalación de lámparas fluorescentes en el laboratorio 1.
				
			</p>
		</div>
	</section>
	<section>
		<div>
			<h2 class="text-gradient">Diagnostico</h2>
			<p>El problema radica en la falta de  iluminación adecuada  en el laboratorio N°1 de la Unidad Educativa Primicias De La Cultura de Quito. Esta deficiencia lumínica afecta tanto a estudiantes como a profesores, dificultando la visualización y el desempeño en actividades académicas y prácticas.

				La insuficiente iluminación compromete el rendimiento académico de los estudiantes, quienes encuentran difícil concentrarse y seguir adecuadamente las explicaciones y demostraciones durante las clases. La falta de luz adecuada no solo fatiga visualmente a los estudiantes, sino que también disminuye su capacidad de retención y comprensión de los temas impartidos
				
				Los profesores también enfrentan desafíos debido a la mala iluminación. Les resulta complicado asegurar que todos los estudiantes comprendan bien los temas tratados, especialmente aquellos que requieren observación detallada y precisa. La enseñanza se ve obstaculizada, lo que impacta negativamente en la calidad de la educación proporcionada.
				
				Esta situación crea un entorno de aprendizaje poco eficiente y potencialmente inseguro, donde tanto estudiantes como profesores no pueden desempeñarse al máximo de sus capacidades. La falta de iluminación adecuada en el laboratorio afecta la motivación y el interés de los estudiantes, lo que puede llevar a una disminución en la participación y el rendimiento general.
				
				Para abordar la solución debemos entender que la iluminación escaza presenta una barrera para el aprendizaje de los estudiantes.
				
				Desde nuestra formación técnica, abordarnos la necesidad de mejorar la iluminación en el laboratorio N°1 mediante la instalación de lámparas fluorescentes de alta eficiencia energética. Esta solución está diseñada para proporcionar una iluminación uniforme y adecuada para entornos educativos, mejorando significativamente las condiciones de visualización.
				Las lámparas fluorescentes seleccionadas serán de alta eficiencia energética, lo que no solo garantizará una iluminación óptima sino que también contribuirá a la reducción de costos operativos a largo plazo. Estas lámparas serán evaluadas y seleccionadas basándonos en criterios técnicos específicos que aseguren su durabilidad y efectividad mediante una proforma.
				La implementación de este proyecto incluirá un plan detallado de instalación, supervisado por técnicos especializados en electricidad y seguridad. Esto asegurará que la instalación se realice de manera segura y eficiente, minimizando cualquier interrupción en las actividades académicas y garantizando un resultado óptimo.
				
				La mejora en la iluminación permitirá un entorno de aprendizaje más efectivo, seguro y cómodo para estudiantes y profesores. Una iluminación adecuada facilitará la comprensión de los temas impartidos, mejorando el rendimiento académico de los estudiantes y la efectividad de la enseñanza por parte de los profesores.
				En conclusión, la solución propuesta no solo abordará las deficiencias actuales de iluminación en el laboratorio N°1, sino que también establecerá un estándar de calidad en el entorno educativo. La ejecución exitosa de este proyecto contribuirá a una educación de mayor calidad y a una reputación positiva de la institución.
				</p>
		</div>
		
	</section>
	<Footer />
</Layout>

<style>
	.led{
		font-size: 29px;
	}
	.porcen {
		height: 100%;
		border-radius: 16px;
		background-color: #377EB9;
		color: white;
		font-weight: bold;
		text-align: center;
	}
	.line-en {
		width: 100%;
		height: 50px;
		border-radius: 15px;
		padding: 3px;
		border: 3px solid gray;
		margin-bottom: 10px;
	}
	.grid-datea {
		place-content: center;
		align-items: center;
		display: grid;
		grid-template-columns: 25% 75%;
		gap: 10px;
	}
	.fondo {
		margin: 16px;
		padding: 16px;
		border: 3px solid #181B25;
		border-radius: 16px;
		background-color: #0C0F19;
	}
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}
	.clip {
		background-clip: text;
	}
	.decoration {
		color: transparent;
		background-image: linear-gradient(66.77deg, #d83333, #f041ff);
	}
	h1, h2 {
		text-align: center;
		color: white;
	}
</style>
