<footer>
    <p>Dillan Toaquiza, Marck Roman, Lopez Yandry, Proyecto Supletorio Programación</p>
  </footer>
  
  <style>
    footer {
      background-color: var(--footer-color);
      padding: 1rem;
      text-align: center;
    }
  
    footer p {
      color: var(--footer-text-color);
      font-size: 1.2rem;
    }
  </style>
  